{% extends 'base.html' %}
{% block title %}Signup{% endblock %}
{% block content %}
    <h1>Signup</h1>
    <form method="POST">
        {% csrf_token %}
        <div class="mb-3">
            <label for="first_name" class="form-label">First Name</label>
            <input type="text" name="first_name" class="form-control" id="first_name" value="{{ form.first_name.value|default_if_none:'' }}">
            <div class="form-text text-danger">{{ form.first_name.errors }}</div>
        </div>
        <div class="mb-3">
            <label for="last_name" class="form-label">Last Name</label>
            <input type="text" name="last_name" class="form-control" id="last_name" value="{{ form.last_name.value|default_if_none:'' }}">
            <div class="form-text text-danger">{{ form.last_name.errors }}</div>
        </div>
        <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <input type="email" name="email" class="form-control" id="email" value="{{ form.email.value|default_if_none:'' }}">
            <div class="form-text text-danger">{{ form.email.errors }}</div>
        </div>
        <div class="mb-3">
            <label for="password1" class="form-label">Password</label>
            <input type="password" name="password1" class="form-control" id="password1">
            <div class="form-text text-danger">{{ form.password1.errors }}</div>
        </div>
        <div class="mb-3">
            <label for="password2" class="form-label">Confirm Password</label>
            <input type="password" name="password2" class="form-control" id="password2">
            <div class="form-text text-danger">{{ form.password2.errors }}</div>
        </div>
        <button type="submit" class="btn btn-primary">Signup</button>
    </form>
{% endblock %}
