<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="{% url 'home' %}">EventBooking</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">

        {% if user.is_authenticated %}
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="eventsDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Events & Bookings
            </a>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="eventsDropdown">
              <li><a class="dropdown-item" href="{% url 'event-list' %}">Events</a></li>
              <li><a class="dropdown-item" href="{% url 'my_bookings' %}">My Bookings</a></li>
              {% if user.is_superuser %}
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="{% url 'event-create' %}">Create Event</a></li>
                <li><a class="dropdown-item" href="{% url 'all_bookings' %}">All Bookings</a></li>
              {% endif %}
            </ul>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="profileDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Profile
            </a>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="profileDropdown">
              <li><a class="dropdown-item" href="{% url 'list_profile' %}">Profile</a></li>
              <li><a class="dropdown-item" href="{% url 'update_profile' %}">Update Profile</a></li>
              <li><a class="dropdown-item" href="{% url 'change_password' %}">Change Password</a></li>
            </ul>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="{% url 'logout' %}">Logout</a>
          </li>
        {% else %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'login' %}">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'register' %}">Register</a>
          </li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>

